@charset "UTF-8";
html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure, figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary, time, mark, audio, video { margin: 0; padding: 0; border: 0; vertical-align: baseline; }

body, html { height: 100%; }

img, fieldset, a img { border: none; }

input[type="submit"], button { cursor: pointer; }
input[type="submit"]::-moz-focus-inner, button::-moz-focus-inner { padding: 0; border: 0; }

textarea { overflow: auto; }

input, button { margin: 0; padding: 0; border: 0; }

div, input, textarea, select, button, h1, h2, h3, h4, h5, h6, a, span, a:focus { outline: none; }

ul, ol { list-style-type: none; }

@media only screen and (min-device-width: 320px) and (max-device-width: 480px) { * { -webkit-text-size-adjust: none; } }
table { border-spacing: 0; border-collapse: collapse; width: 100%; }

@font-face { font-family: "Cuprum-Regular"; src: url("fonts/Cuprum-Regular.eot"); src: url("fonts/Cuprum-Regular.eot?#iefix") format("embedded-opentype"), url("fonts/Cuprum-Regular.woff") format("woff"), url("fonts/Cuprum-Regular.ttf") format("truetype"); font-weight: normal; font-style: normal; }
@font-face { font-family: "Cuprum-Bold"; src: url("fonts/Cuprum-Bold.eot"); src: url("fonts/Cuprum-Bold.eot?#iefix") format("embedded-opentype"), url("fonts/Cuprum-Bold.woff") format("woff"), url("fonts/Cuprum-Bold.ttf") format("truetype"); font-weight: normal; font-style: normal; }
html { font-size: 62.5%; }

body { font-family: Arial, sans-serif; font-family: "Cuprum-Regular"; font-weight: normal; font-size: 18px; font-size: 1.8rem; line-height: 1.3333; }

.l { max-width: 1190px; margin: auto; *zoom: 1; }
.l:after { content: " "; display: table; clear: both; }
.l .l-col1 { float: left; width: 20%; }
.l .l-col2 { float: right; width: 70%; }

.wallpaper { background: #235d6b url("../img/wallpaper.jpg") 50% 0 no-repeat; color: white; }

.header { position: relative; padding: 46px 0 35px; text-align: right; }
.header:after { content: ""; position: absolute; bottom: 0; left: -1000px; right: -1000px; height: 2px; background-color: rgba(255, 255, 255, 0.2); }
.header a { color: white; text-decoration: none; }
.header a:hover { text-decoration: underline; }
.header__contacts .tel { margin-right: 20px; text-decoration: none; }
.header__nav { font-size: 0; margin-top: 18px; }
.header__nav li { display: inline-block; vertical-align: middle; margin-right: 50px; }
.header__nav li:last-child { margin-right: 0; }
.header__nav a { font-size: 18px; font-size: 1.8rem; }
.header .logo { position: absolute; top: 13px; left: 7px; }

.logo { display: inline-block; text-decoration: none; font: 0/0 a; text-shadow: none; color: transparent; background: url('../img/icons-s38c6f5abc8.png') 0 -269px no-repeat; width: 184px; height: 114px; }

.tel { display: inline-block; color: white; font-size: 24px; font-size: 2.4rem; text-decoration: none; }

.breadcrumbs { position: relative; font-size: 0; margin: 20px 0 18px; }
.breadcrumbs:before { display: none; content: "←"; position: absolute; font-size: 15px; font-size: 1.5rem; color: white; top: 0px; left: -19px; }
.breadcrumbs:hover:before { display: block; }
.breadcrumbs li { display: inline-block; vertical-align: middle; font-size: 15px; font-size: 1.5rem; }
.breadcrumbs li:after { content: "/"; display: inline; color: white; margin: 7px; }
.breadcrumbs li:last-child:after { display: none; }
.breadcrumbs li a { color: white; text-decoration: none; }
.breadcrumbs li a:hover { text-decoration: underline; }

.content { position: relative; margin: -5px; *zoom: 1; }
.content:after { content: " "; display: table; clear: both; }

.b { position: relative; padding: 20px; margin: 5px; background-color: rgba(0, 0, 0, 0.4); -moz-box-sizing: border-box; -webkit-box-sizing: border-box; box-sizing: border-box; overflow: hidden; float: left; }
.b a { color: white; text-decoration: none; }
.b a:hover { text-decoration: underline; }
.b__text { margin: 10px 0; }
.b__in-left { padding-right: 20px; margin-right: 42.02899%; }
.b__in-right { padding-left: 20px; width: 42.02899%; position: absolute; top: 0; right: 0; bottom: 0; }
.b_red { background-color: rgba(251, 35, 37, 0.5); }
.b_green { background-image: linear-gradient(to top, rgba(0, 153, 15, 0.5) -25%, rgba(145, 195, 31, 0.5) 125%); }
.b .tel { font-size: inherit; }
.b .btn { position: absolute; z-index: 3; bottom: 20px; left: 20px; right: 20px; }

.b-h-sm { width: 41.17647%; max-width: 490px; height: 235px; }

.b-h-md { width: 57.98319%; max-width: 690px; height: 235px; }
.b-h-md.b-h-md_higher { height: 390px; }

.b-h-lg { width: 100%; max-width: 1190px; height: 345px; }

.b-v { width: 24.36975%; max-width: 290px; height: 390px; }

.b-xs { width: 15.96639%; max-width: 190px; height: 190px; padding: 15px; }

.b-temp { position: absolute; bottom: 0; left: 300px; }

.title { margin-bottom: 10px; color: #fefefe; font-family: "Cuprum-Bold"; font-weight: normal; font-size: 40px; font-size: 4rem; }
.title_xs { font-size: 22px; font-size: 2.2rem; font-family: "Cuprum-Regular"; font-weight: normal; text-align: center; text-transform: uppercase; line-height: 1.18; }

.btn { display: block; height: 40px; line-height: 40px; text-align: center; font-size: 24px; font-size: 2.4rem; text-decoration: none; background-color: rgba(0, 0, 0, 0.5); }
.btn:hover { text-decoration: none !important; opacity: 0.9; }
.btn_red { background-color: #de1840; }

.ico { display: block; margin: auto; position: relative; }
.ico:before { content: ""; display: block; margin: auto; position: relative; z-index: 2; }
.ico:after { content: ""; position: absolute; z-index: 1; top: 0; left: 50%; width: 200px; height: 100%; background-color: rgba(0, 0, 0, 0.1); -webkit-transform-origin: 0 50%; -moz-transform-origin: 0 50%; -ms-transform-origin: 0 50%; -o-transform-origin: 0 50%; transform-origin: 0 50%; -moz-transform: rotate(32deg); -ms-transform: rotate(32deg); -webkit-transform: rotate(32deg); transform: rotate(32deg); }
.ico_partner:before { background: url('../img/icons-s38c6f5abc8.png') 0 -575px no-repeat; width: 52px; height: 50px; }
.ico_other:before { background: url('../img/icons-s38c6f5abc8.png') 0 -489px no-repeat; width: 76px; height: 76px; }

html { font-size: 62.5%; }

@font-face { font-family: "Cuprum Regular"; src: url("fonts/cuprum-regular-webfont.eot"); src: url("fonts/cuprum-regular-webfont.eot?#iefix") format("embedded-opentype"), url("fonts/cuprum-regular-webfont.woff") format("woff"), url("fonts/cuprum-regular-webfont.ttf") format("truetype"); font-weight: normal; font-style: normal; }
a:hover { text-decoration: none; }

strong { font-weight: bold; }

button:active { position: relative; top: 1px; }

.home-bg { background: url(../img/home-bg.jpg) no-repeat top center; background-color: #003d52; }

.home { max-width: 1900px; }

.all-wrapper { max-width: 1190px; padding: 20px 5px; margin: 0 auto; height: 910px; }

.header { *zoom: 1; width: 100%; color: white; line-height: 24px; text-align: right; }
.header:after { content: " "; display: table; clear: both; }
.header a { color: white; }
.header .logo { float: left; margin-left: 8%; background: url('../img/icons-s38c6f5abc8.png') 0 -269px no-repeat; width: 184px; height: 114px; display: block; }

.header__right { padding-top: 16px; }
.header__right .phone { font-family: "Cuprum Regular", Arial, sans-serif; font-size: 24px; font-size: 2.4rem; }
.header__right .tomap { font-family: Arial, sans-serif; font-size: 14px; font-size: 1.4rem; margin-left: 20px; }

.nav { width: 98.5%; margin-top: 40px; margin-right: 1.5%; }
.nav li { display: inline-block; font-size: 0px; font-size: 0rem; margin-right: 5%; }
.nav li a { font-size: 18px; font-size: 1.8rem; font-family: "Cuprum Regular", Arial, sans-serif; position: relative; padding-left: 28px; text-decoration: none; }
.nav li a:before { display: block; content: ""; position: absolute; left: 0px; top: 0px; }
.nav li a:hover { text-decoration: underline; }
.nav li .w-key:before { background: url('../img/icons-s38c6f5abc8.png') 0 -136px no-repeat; width: 16px; height: 18px; top: 1px; }
.nav li .w-office:before { background: url('../img/icons-s38c6f5abc8.png') 0 -463px no-repeat; width: 16px; height: 16px; }
.nav li .w-newspaper:before { background: url('../img/icons-s38c6f5abc8.png') 0 -415px no-repeat; width: 16px; height: 12px; top: 5px; }
.nav li .w-bubbles:before { background: url('../img/icons-s38c6f5abc8.png') 0 -52px no-repeat; width: 18px; height: 16px; top: 4px; }

.container { width: 100%; *zoom: 1; margin-top: 20px; position: relative; height: 600px; }
.container:after { content: " "; display: table; clear: both; }

.box { text-decoration: none; position: absolute; overflow: hidden; }
.box .box__heading { font-family: "Cuprum Regular", Arial, sans-serif; font-size: 22px; font-size: 2.2rem; line-height: 24px; color: white; }

.box__b p { font-family: Arial, sans-serif; font-size: 14px; font-size: 1.4rem; line-height: 18px; color: white; margin: 10px 0px; }
.box__b a { font-size: 14px; font-size: 1.4rem; color: #1e77af; }

.box__b-f { padding: 35px 23px 25px 17px; display: block; width: 350px; height: 130px; color: white; top: 0px; left: 0px; background: url(../img/box-b.png); }
.box__b-f img { float: left; margin-right: 24px; }
.box__b-f .box__info { width: 160px; float: left; }
.box__b-f .box__info button { font-size: 12px; font-size: 1.2rem; font-family: Arial, sans-serif; line-height: 24px; text-transform: uppercase; color: white; background: none; border: 1px solid #acbabe; border-radius: 2px; height: 28px; width: 130px; }
.box__b-f .box__info button strong { font-size: 14px; font-size: 1.4rem; margin-left: 7px; }

.box__b-s { top: 201px; left: 0px; background: #999999; width: 390px; height: 190px; background: url(../img/box-b.png); }
.box__b-s .box__info { width: 50%; float: left; text-align: right; display: inline-block; vertical-align: middle; }
.box__b-s .box__info p { margin: 38px 15px 0px 15px; }
.box__b-s .box__video { width: 50%; float: right; }

.box__b-t { top: 400px; left: 0px; background: white; width: 390px; height: 190px; }
.box__b-t img { float: left; width: 50%; }
.box__b-t .box__info { padding: 33px 0px 0px 0px; float: left; color: black; width: 50%; }
.box__b-t .box__info span { width: 100%; display: block; padding-bottom: 10px; padding-left: 15px; }
.box__b-t .box__info .box__heading { color: black; }
.box__b-t .box__info .box__phone { font-family: "Cuprum Regular", Arial, sans-serif; font-size: 24px; font-size: 2.4rem; line-height: 24px; }
.box__b-t .box__info a { margin-left: 15px; }
.box__b-t .box__info p { color: black; margin: 7px 0px; margin-left: 15px; }
.box__b-t .box__info p i { background: url('../img/icons-s38c6f5abc8.png') 0 0 no-repeat; width: 10px; height: 16px; display: block; content: ""; margin-right: 7px; float: left; }

.box__h { width: 190px; height: 391px; }
.box__h .box__heading { position: absolute; top: 0px; left: 0px; width: 100%; text-align: center; padding-top: 15px; background: url(../img/box__h-text.png) repeat-x; display: block; content: ""; min-height: 147px; text-transform: uppercase; }

.box__h-f { top: 0px; left: 400px; background: url(../img/box__h-f.jpg) no-repeat 63% 50%; }

.box__h-s { top: 0px; left: 600px; background: url(../img/box__h-s.jpg) no-repeat 16% 50%; }

.box__h-t { top: 0px; left: 800px; background: url(../img/box__h-t.jpg) no-repeat 50% 50%; }

.box__s { width: 190px; height: 190px; }

.box__s-f { top: 0px; left: 1000px; background: url(../img/box__s-f.jpg); }
.box__s-f .box__heading { position: absolute; bottom: 0px; left: 0px; padding-bottom: 15px; width: 100%; text-align: center; display: block; content: ""; text-transform: uppercase; }

.box__s-s { top: 400px; left: 400px; background: url(../img/box__s-s.jpg); }
.box__s-s .box__heading { position: absolute; top: 30px; left: 12px; width: 100px; }

.box__s-t { top: 400px; left: 600px; background: url(../img/box__s-t.jpg); }
.box__s-t .box__heading { position: absolute; bottom: 0px; left: 0px; padding-bottom: 15px; width: 100%; text-align: center; display: block; content: ""; text-transform: uppercase; }

.box__s-fo { top: 400px; left: 800px; background: url(../img/box__s-fo.jpg); }
.box__s-fo .box__heading { position: absolute; bottom: 0px; left: 0px; padding-bottom: 15px; width: 100%; text-align: center; display: block; content: ""; text-transform: uppercase; }

.box__h-fo { top: 200px; left: 1000px; background: url(../img/box-b.png); padding: 0px 14px; width: 162px; text-align: center; }
.box__h-fo .login__heading { font-family: "Cuprum Regular", Arial, sans-serif; font-size: 22px; font-size: 2.2rem; line-height: 24px; color: white; margin: 0 auto; margin-top: 40px; display: block; text-transform: uppercase; width: 50%; margin-bottom: 25px; }
.box__h-fo input { background: white; border: none; width: 100%; margin-top: 5px; border-top: solid 1px #acadad; border-bottom: solid 1px #acadad; padding: 8px 15px 7px 36px; -moz-box-sizing: border-box; -webkit-box-sizing: border-box; box-sizing: border-box; font-family: Arial, sans-serif; font-size: 14px; font-size: 1.4rem; color: black; text-align: left; }
.box__h-fo input:-moz-placeholder, .box__h-fo input::-moz-placeholder { color: black; opacity: 1; }
.box__h-fo input::-webkit-input-placeholder { color: black; }
.box__h-fo .box__login { background: url(../img/login.png) no-repeat 9% 50% white; }
.box__h-fo .box__password { background: url(../img/password.png) no-repeat 9% 50% white; }
.box__h-fo .box__submit { background: #de1840; border: none; color: white; text-transform: uppercase; font-family: "Cuprum Regular", Arial, sans-serif; font-size: 18px; font-size: 1.8rem; padding: 11px 0px; margin-top: 10px; margin-bottom: 35px; text-align: center; }
.box__h-fo .box__submit:hover { opacity: 0.9; }
.box__h-fo .box__submit:active { margin-top: 11px; margin-bottom: 34px; }
.box__h-fo a { color: white; text-decoration: underline; font-size: 14px; font-size: 1.4rem; font-family: Arial, sans-serif; line-height: 24px; }
.box__h-fo a:hover { text-decoration: none; }

.footer { padding-top: 15px; color: white; font-size: 14px; font-size: 1.4rem; font-family: Arial, sans-serif; line-height: 18px; }
.footer a { color: white; }
.footer a:hover { text-decoration: none; }
.footer p { text-align: center; width: 87%; display: block; margin: 0 auto; padding-bottom: 15px; }
.footer span { line-height: 24px; }
.footer .footer__left { float: left; }
.footer .footer__right { float: right; }

@media only screen and (max-width: 1200px) { .home-bg { background: url(../img/home-bg-r.jpg) no-repeat top center; }
  .all-wrapper { width: 790px; height: 1181px; }
  .header { color: black; }
  .header a { color: #1980bd; }
  .header .logo { background: url('../img/icons-s38c6f5abc8.png') 0 -164px no-repeat; width: 152px; height: 95px; margin-left: 20px; }
  .header__right { padding-top: 10px; }
  .header__right .phone { font-family: "Cuprum Regular", Arial, sans-serif; font-size: 24px; font-size: 2.4rem; }
  .header__right .tomap { font-family: Arial, sans-serif; font-size: 14px; font-size: 1.4rem; margin-left: 20px; }
  .nav { width: 100%; margin-top: 40px; margin-right: 0px; }
  .nav li { display: inline-block; font-size: 0px; font-size: 0rem; margin-right: 20px; }
  .nav li a { color: black; }
  .nav li .w-key:before { background: url('../img/icons-s38c6f5abc8.png') 0 -108px no-repeat; width: 16px; height: 18px; top: 1px; }
  .nav li .w-office:before { background: url('../img/icons-s38c6f5abc8.png') 0 -437px no-repeat; width: 16px; height: 16px; }
  .nav li .w-newspaper:before { background: url('../img/icons-s38c6f5abc8.png') 0 -393px no-repeat; width: 16px; height: 12px; top: 5px; }
  .nav li .w-bubbles:before { background: url('../img/icons-s38c6f5abc8.png') 0 -26px no-repeat; width: 18px; height: 16px; top: 4px; }
  .nav .is-last { margin-right: 0px; }
  .container { height: 990px; }
  .box__h-f { width: 390px; height: 190px; background: url(../img/box__h-f.jpg) no-repeat center center; background-size: cover; }
  .box__h-s { width: 390px; height: 190px; top: 200px; left: 400px; background: url(../img/box__h-s.jpg) no-repeat center center; background-size: cover; }
  .box__h-t { width: 390px; height: 190px; top: 400px; left: 400px; background: url(../img/box__h-t.jpg) no-repeat center center; background-size: cover; }
  .box__s-s { top: 600px; left: 0px; background: url(../img/box__s-s.png); }
  .box__s-t { top: 600px; left: 200px; background: url(../img/box__s-t.png); }
  .box__s-f { top: 800px; left: 0px; background: url(../img/box__s-f.png); }
  .box__s-fo { top: 800px; left: 200px; background: url(../img/box__s-fo.png); }
  .box__h-fo { top: 600px; left: 400px; width: 247px; height: 319px; padding: 31px 71px 40px 72px; }
  .box__h-fo .login__heading { width: 100%; }
  .footer { color: black; padding-top: 40px; }
  .footer a { color: #1980bd; }
  .footer p { display: none; }
  .footer span { width: 390px; }
  .footer .footer__left { text-align: right; }
  .footer .footer__right { text-align: left; } }
